*{
    margin:0px;
    box-sizing: border-box;
}
body{
    display: flex;
}
#attribute_editor_container{
    display: block;
    margin-left: 10px;
}
.attribute_container{
    display: flex;
    margin-top: 10px;
}
.attribute_description{
    width: 100px;
}